@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans&display=swap');

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

:root {
    --deep-green: #153423;
    --geen: #2C6E49;
    --light-green: #4C956C;
    --gold: #D68C45;
    --nude: #FFC9B9;
    --yellow: #FEFEE3;
}

body {
    font-size: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;

    margin: 0 5rem;
}

.main-left {
    width: 100%;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
}

.main-left__logo {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    margin-bottom: 2rem;
}

.main-left__description {

    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.3rem;
    text-align: justify;
    letter-spacing: -0.02em;

    padding-right: 4rem;

}

.main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: antiquewhite;
    padding: 2rem;
}

.main-right__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);

    padding: 3rem 0;
}

.main-right__login__input {
    width: 80%;
    height: 3.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 1rem;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;

    color: #61646B;
}

input:focus {
    outline: var(--geen) solid 1px;
    border: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 3rem;
    border-radius: 10px;
    border: none;
}

.btn-login {
    background-color: var(--geen);
    color: #FFF;
    margin-bottom: 2rem ;
    margin-top: 2rem;
}

.btn-text {
    margin-left: 0.4rem;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: -0.02em;
}

.line {
    width: 70%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 1rem;
}

.main-right__register {
    font-size: 1.3rem;
    margin-bottom: 1rem;

}

.btn-register {
    background-color: var(--gold);
    color: #FFF;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}